<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h4>Sobre Nosotros</h4>
      <p>
        Patitas al Rescate es una plataforma dedicada a
        <br>
        reunir mascotas perdidas con sus familias.
      </p>
    </div>
    <div class="footer-section">
      <h4>Enlaces Rápidos</h4>
      <ul>
        <li (click)="navegar('home')"> <a> Inicio</a></li>
        <li (click)="navegar('anuncios')"><a> Anuncios</a></li>
        <li (click)="navegar('nosotros')"><a> Sobre nosotros</a></li>
      </ul>
    </div>
    <!-- <div class="footer-section">
      <h4>Contacto</h4>
      <div class="social-icons">
        <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
          <i class="fab fa-facebook-f"> facebook</i>
        </a>
        <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
          <i class="fab fa-twitter"> twitter</i>
        </a>
        <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
          <i class="fab fa-instagram"> instagram</i>
        </a>
      </div>
    </div> -->
    <div class="footer-section">
      <h4>Contáctame</h4>
      <ul>
        <li >
          <a href="https://www.linkedin.com/in/juanjolt/" target="_blank">
            <i class="fab fa-linkedin"></i> LinkedIn
          </a>
        </li>
        <li >
          <a href="https://api.whatsapp.com/send?phone=5491163300757" target="_blank">
            <i class="fab fa-whatsapp"></i> WhatsApp
          </a>
        </li>
        <li>
          <a href="https://github.com/JJMDT" target="_blank">
            <i class="fab fa-github"></i> GitHub
          </a>
        </li>
        <li>
          <a href="https://soyjuan.netlify.app" target="_blank">
            <i class="fas fa-briefcase"></i> Porfolio
            </a>
          
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© Monster Developer 2024</p>
  </div>
</footer>
