<!--  
<header>
    <div class="logo">
        <img src="https://i.imgur.com/4UzbWfO.png" alt="Logo" class="logo-img">
        <h1>Patitas al Rescate</h1>
    </div>

    <div class="auth-button">
      <button (click)="handleAuthAction()">
        {{ authService.isLoggedIn() ? 'Cerrar sesión' : 'Iniciar sesión' }}
      </button>     
    </div>
    
</header>

<nav>
  <ul>
    <li (click)="navegar('home')">Inicio</li>
    <li (click)="navegar('anuncios')">Anuncios</li>
    <li (click)="navegar('nosotros')">Sobre nosotros</li>
     
  </ul>
 
</nav>
 -->
 <!-- Image and text -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid container_logo">
    
      <img src="https://i.imgur.com/4UzbWfO.png" alt="Logo" class="logo-img">
      <p>
        Patitas al Rescate
      </p>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="navegar('home')">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navegar('anuncios')">Anuncios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navegar('nosotros')">Sobre Nosotros</a>
        </li>
        
        <li *ngIf="authService.isLoggedIn()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ getUserName() }}
          </a>
          <div class="submenu">
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" (click)="navegar('perfil')">Mi Perfil</a></li>
              <li><a class="dropdown-item" (click)="handleAuthAction()">Cerrar sesión</a></li>
            </ul>
          </div>
          </li>
          <li *ngIf="!authService.isLoggedIn()" class="nav-item">
            <a class="nav-link" (click)="handleAuthAction()">Iniciar sesión</a>
          </li>
        </ul>
    </div>
  </div>
</nav>