<div class="container_home">
  <h1>Bienvenidos a Patitas al Rescate</h1>
  <p>Tu mascota está perdida? Encontraste una mascota perdida? </p>

  <div class="cards carta">
    <div class="card" style="width: 18rem;">
      <i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #010101;"></i>
      <br>
      <div class="card-body">
        <h5 class="card-title">Buscá entre las publicaciones</h5>
        <p class="card-text">Si tu mascota está perdida podés buscar entre los anuncios si alguien la encontró
        </p>
        <button class="btn-publicacion" *ngIf="authService.isLoggedIn()" (click)="navegar('anuncios')">
          Ver publicaciones
        </button>
        <button class="btn-publicacion" *ngIf="!authService.isLoggedIn()" (click)="navegar('anuncios')">
          Ver publicaciones
        </button>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <i class="fa-solid fa-clipboard fa-2xl" style="color: #010101;"></i>
       <br>
      <div class="card-body">
        <h5 class="card-title">Publicá un anuncio</h5>
        <br>
        <p class="card-text">Ya sea que encontraste una mascota o tu mascota perdida no está en ninguno de los anuncios, podés subir tu propia publicación
        </p>
        <button class="btn-publicacion" *ngIf="authService.isLoggedIn()" (click)="navegar('crear-anuncio')">
          Crear publicacion
        </button>
        <button class="btn-publicacion" *ngIf="!authService.isLoggedIn()" (click)="navegar('login')">
          Crear publicacion
        </button>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <i class="fa-solid fa-dog fa-2xl" style="color: #010101;"></i>
      <br>
      <div class="card-body">
        <h5 class="card-title">Reencuentros</h5>
        <p class="card-text">Conocé las historias de reencuentros de mascotas perdidas con sus dueños
        </p>
        <button class="btn-publicacion" *ngIf="!authService.isLoggedIn()" (click)="navegar('login')">
          Testimonios
        </button>
        <button class="btn-publicacion" *ngIf="authService.isLoggedIn()" (click)="navegar('login')">
          Testimonios
        </button>
      </div>
    </div>
  
    
  </div>
</div>
